@media screen and (max-width:1680px) {
    body {
        background-color: darkgrey;
    }

    #controlPanel {
        position: fixed;
        margin: auto;
        height: 250px;
        width: 15%;
        background-color: blue;
        left: -800px;
        top: 10%;
    }

    #saveCodeBtn {
        position: fixed;
        margin: auto;
        left: -2000px;
        right: 0;
        top: 0;
        bottom: 30%;
        width: 6%;
        height: 35px;
        font-size: 10pt;
        border-radius: 45px;

    }

    #shareCodeBtn {
        position: fixed;
        margin: auto;
        left: -2000px;
        right: 0;
        top: 0;
        bottom: 30%;
        width: 6%;
        height: 35px;
        font-size: 10pt;
        border-radius: 45px;
    }

    #decryptCodeBtn {
        position: fixed;
        margin: auto;
        left: -2000px;
        right: 0;
        top: 0;
        bottom: 50%;
        width: 6%;
        height: 35px;
        font-size: 10pt;
        border-radius: 45px;

    }

    #encryptCodeBtn {
        position: fixed;
        margin: auto;
        left: -2000px;
        right: 0;
        top: 0;
        bottom: 50%;
        width: 6%;
        height: 35px;
        font-size: 10pt;
        border-radius: 45px;
    }

    #playCodeBtn {
        position: fixed;
        margin: auto;
        left: -2000px;
        right: 0;
        top: 0;
        bottom: 70%;
        width: 6%;
        height: 35px;
        font-size: 10pt;
        border-radius: 45px;

    }

    #pauseCodeBtn {
        position: fixed;
        margin: auto;
        left: -2000px;
        right: 0;
        top: 0;
        bottom: 70%;
        width: 6%;
        height: 35px;
        font-size: 10pt;
        border-radius: 45px;
    }

    #backPageBtn {
        position: fixed;
        margin: auto;
        left: -2000px;
        right: 0;
        top: 70%;
        bottom: 0;
        width: 15%;
        height: 125px;
        font-size: 20pt;
        border-radius: 45px;
    }

    #nextPageBtn {
        position: fixed;
        margin: auto;
        left: -2000px;
        right: 0;
        top: 20%;
        bottom: 0;
        width: 15%;
        height: 125px;
        font-size: 20pt;
        border-radius: 45px;
    }

    #notes {
        position: fixed;
        margin: auto;
        right: 0;
        top: 0;
        bottom: 0;
        left: -3000px;
        width: 600px;
        height: 700px;
        font-size: 18pt;
        padding: 20px 15px;

    }
    .textAreaSlide {
        animation: textAreaSlide 1.5s forwards;
    }

    .backPageBtnSlide {
        animation: backPageBtnSlide 1.5s forwards;
    }

    .nextPageBtnSlide {
        animation: nextPageBtnSlide 1.5s forwards;
    }

    .controlPanelSlide {
        animation: controlPanelSlide 1.5s forwards;
    }

    .playCodeBtnSlide {
        animation: playCodeBtnSlide 1.5s forwards;
    }

    .pauseCodeBtnSlide {
        animation: pauseCodeBtnSlide 1.5s forwards;
    }

    .encryptCodeBtnSlide {
        animation: encryptCodeBtnSlide 1.5s forwards;
    }

    .decryptCodeBtnSlide {
        animation: decryptCodeBtnSlide 1.5s forwards;
    }

    .shareCodeBtnSlide {
        animation: shareCodeBtnSlide 1.5s forwards;
    }

    .saveCodeBtnSlide {
        animation: saveCodeBtnSlide 1.5s forwards;
    }

    #start-btn {
        position: fixed;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 300px;
        height: 100px;
        font-size: 24pt;
        border-radius: 30px;
    }

    .disappear {
        animation: disappear .5s forwards;
    }
    @keyframes backPageBtnSlide {
        0% {

        }
        100% {
            left: 70%;
        }
    }

    @keyframes controlPanelSlide {
        0% {

        }
        100% {
            left: 78%;
        }
    }

    @keyframes playCodeBtnSlide {
        0% {

        }
        100% {
            left: 64%;

        }
    }

    @keyframes pauseCodeBtnSlide {
        0% {

        }
        100% {
            left: 78%;
        }
    }

    @keyframes controlPanelSlide {
        0% {

        }
        100% {
            left: 78%;
        }
    }

    @keyframes saveCodeBtnSlide {
        0% {

        }
        100% {
            left: 64%;

        }
    }

    @keyframes shareCodeBtnSlide {
        0% {

        }
        100% {
            left: 78%;
        }
    }

    @keyframes decryptCodeBtnSlide {
        0% {

        }
        100% {
            left: 78%;

        }
    }

    @keyframes encryptCodeBtnSlide {
        0% {

        }
        100% {
            left: 64%;
        }
    }

    @keyframes nextPageBtnSlide {
        0% {

        }
        100% {
            left: 70%;
        }
    }

    @keyframes textAreaSlide {
        0% {
        }
        100% {
            left: -30%;
        }
    }

    @keyframes disappear {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
}
@media screen and (max-width:980px) {
    body {
        background-color: darkgrey;
    }

    #start-btn {
        position: fixed;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 600px;
        height: 200px;
        font-size: 40pt;
        border-radius: 70px;


    }

    #notes {
        position: fixed;
        margin: auto;
        left: -2000px;
        right: 0;
        top: 0;
        bottom: 30%;
        width: 800px;
        height: 1000px;
        font-size: 40pt;
        padding: 15px 25px;

    }

    #controlPanel {
        position: fixed;
        margin: auto;
        height: 300px;
        width: 80%;
        background-color: blue;
        left: -1800px;
        top: 80%;
    }

    #playCodeBtn {
        position: fixed;
        margin: auto;
        left: -2000px;
        right: 0;
        top: 67%;
        bottom: 0;
        width: 15%;
        height: 5%;
        font-size: 20pt;
        border-radius: 45px;


    }

    #pauseCodeBtn {
        position: fixed;
        margin: auto;
        left: -2000px;
        right: 0;
        top: 82%;
        bottom: 0;
        width: 15%;
        height: 5%;
        font-size: 20pt;
        border-radius: 45px;


    }

    #shareCodeBtn {
        position: fixed;
        margin: auto;
        left: -2000px;
        right: 0;
        top: 67%;
        bottom: 0;
        width: 15%;
        height: 5%;
        font-size: 20pt;
        border-radius: 45px;
    }

    #saveCodeBtn {
        position: fixed;
        margin: auto;
        left: -2000px;
        right: 0;
        top: 82%;
        bottom: 0;
        width: 15%;
        height: 5%;
        font-size: 20pt;
        border-radius: 45px;
    }

    #encryptCodeBtn {
        position: fixed;
        margin: auto;
        left: -2000px;
        right: 0;
        top: 67%;
        bottom: 0;
        width: 15%;
        height: 5%;
        font-size: 20pt;
        border-radius: 45px;
    }

    #decryptCodeBtn {
        position: fixed;
        margin: auto;
        left: -2000px;
        right: 0;
        top: 82%;
        bottom: 0;
        width: 15%;
        height: 5%;
        font-size: 20pt;
        border-radius: 45px;
    }

    #backPageBtn {
        position: fixed;
        margin: auto;
        left: -2000px;
        right: 0;
        top: 40%;
        bottom: 0;
        width: 200px;
        height: 125px;
        font-size: 24pt;
        border-radius: 45px;
    }

    #nextPageBtn {
        position: fixed;
        margin: auto;
        left: -1500px;
        right: 0;
        top: 40%;
        bottom: 0;
        width: 200px;
        height: 125px;
        font-size: 24pt;
        border-radius: 45px;
    }



    .disappear {
        animation: disappear .5s forwards;
    }

    @keyframes backPageBtnSlide {
        0% {

        }
        100% {
            left: -35%;
        }
    }

    @keyframes nextPageBtnSlide {
        0% {

        }
        100% {
            left: 35%;
        }
    }

    @keyframes textAreaSlide {
        0% {

        }
        100% {
            left: 0;

        }
    }

    @keyframes disappear {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }

    @keyframes controlPanelSlide {
        0% {

        }
        100% {
            left: 10%;
        }
    }

    @keyframes playCodeBtnSlide {
        0% {

        }
        100% {
            left: -50%;

        }
    }

    @keyframes pauseCodeBtnSlide {
        0% {

        }
        100% {
            left: -50%;

        }
    }

    @keyframes shareCodeBtnSlide {
        0% {

        }
        100% {
            left: 50%;

        }
    }

    @keyframes saveCodeBtnSlide {
        0% {

        }
        100% {
            left: 50%;

        }
    }

    @keyframes encryptCodeBtnSlide {
        0% {

        }
        100% {
            left: 0;

        }
    }

    @keyframes decryptCodeBtnSlide {
        0% {

        }
        100% {
            left: 0;

        }
    }
}
